.mainHeading{
    font-family: "Montserrat", sans-serif;
}
.heading{
    font-family: "Montserrat", sans-serif; 
}
.attendencerow-1{
    background-color: white;
    border-radius: 12px;
    width: 980px;
    
}
.box-Heading{
    font-family: "Montserrat", sans-serif; 
}