.attendencerow1{
    background-color: white;
    border-radius: 12px;
    width: 980px;
    height: 89px;
}
.attendencerow2{
    background-color: white;
    border-radius: 12px;
    width: 980px;
}
.addBtn{
    justify-content: end;
}
.mainHeading{
    font-family: "Montserrat", sans-serif;
}
.req-btn{
    display: flex;
    justify-content: space-around; 
    
}
.box-Heading{
    font-family: "Montserrat", sans-serif;  
}
.attendenceTodayBtn{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: end; */
    
}
form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* To ensure the form elements respect the row layout */
    align-items: center; /* Align items vertically in the center */
  }