.conatiner{
    width: 100%;
    overflow: hidden;
}
.mainRow{
    width: 700px;
}
.inputBox{
    display: flex;
    justify-content: space-between;
}
.mainHeading{
    font-family: "Montserrat", sans-serif;
}
.adminBoxHeading{
    font-family: "Montserrat", sans-serif;
}