.row1{
    background-color: white;
    border-radius: 12px;
}
.row2{
    background-color: white;
    border-radius: 12px;
}
.btns{
    border: none;
    background-color: white;
}
.mainHeading{
    font-family: "Montserrat", sans-serif;
}
