.heading{
    font-family: "Montserrat", sans-serif; 
}
.box-Heading{
    font-family: "Montserrat", sans-serif;  
}
.approveBtn{
    display: flex;
    justify-content: center;
    text-align: end;
    color: black;
}
.attendencerow-1{
    background-color: white;
    border-radius: 12px;
    width: 980px;
    
}