.innerCard{
    display: flex;
    flex-wrap: wrap;

}
.lineChart{
   border-radius: 10px;
      
}
.raderChart{
    background-color: white;
    border-radius: 10px;
    
}
.activityCard {
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
  }
  
.activityIcon{
    margin-left: 53.3px;
}
.activityIcon2{
    margin-left: 100px;
}
.icondata{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainHeading{
    font-family: "Montserrat", sans-serif;
}